<section class="text-cards-block">
    <div 
        {% if section.settings.background_photo %}
            {% unless section.settings.background_photo == blank %} role="img" aria-label="{{ section.settings.background_photo.alt | escape }}"{% endunless %} 
            style="background-image: url('{{ section.settings.background_photo | img_url: '2048x' }}');"
        {% endif %}>
        <div class="filter" style="background-color: {{ section.settings.filter_color }}; opacity: {{ section.settings.filter_opacity }};"></div>
        <section class="inner-wrapper">
            <h{{ section.settings.heading_size }} style="color:{{ section.settings.heading_color }}; text-align:{{ section.settings.heading_text_alignment }}">{{ section.settings.heading }}</h{{ section.settings.heading_size }}> 
            <div class="text-card-wrapper {{ section.settings.border_radius }} {{ section.settings.text_alignment }}" style="color: {{ section.settings.text_color }};">
                <div>
                    <h{{ section.settings.header_size }} style="text-align:{{ section.settings.text_alignment }};">{{ section.settings.header_text }}</h{{ section.settings.header_size }}>
                    <div style="text-align:{{ section.settings.text_alignment }};">{{ section.settings.description_text }}</div>
                    <a href="{{ section.settings.btn_url }}" style="text-align:{{ section.settings.text_alignment }};" aria-label="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
                </div>
                <div>
                    <h{{ section.settings.header_size }} style="text-align:{{ section.settings.text_alignment }};">{{ section.settings.header_text_2 }}</h{{ section.settings.header_size }}>
                    <div style="text-align:{{ section.settings.text_alignment }};">{{ section.settings.description_text_2 }}</div>
                    <a href="{{ section.settings.btn_url_2 }}" style="text-align:{{ section.settings.text_alignment }};" aria-label="{{ section.settings.btn_text_2 }}">{{ section.settings.btn_text_2 }}</a>
                </div>
            </div>
        </section>
    </div>
</section>

{% styles %}
.text-cards-block .inner-wrapper {
    max-width: 1200px;
    margin: auto;
}

.text-cards-block  > div {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 1rem;
    z-index: -2;
}

.text-cards-block > div h1,
.text-cards-block > div h2,
.text-cards-block > div h3,
.text-cards-block > div h4,
.text-cards-block > div h5,
.text-cards-block > div h6 {
    margin-bottom: 2rem;
}

.text-cards-block .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.text-cards-block .text-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-card-wrapper > div {
    max-width: 550px;
    min-height: 200px;
    background-color: #FFFFFF;
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-card-wrapper > div h2,
.text-card-wrapper > div p,
.text-card-wrapper > div a {
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
}

.text-card-wrapper > div p {
    font-size: 1.2rem;
}

.text-card-wrapper > div a {
    color: #111111;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .text-cards-block .text-card-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .text-cards-block  > div {
        padding: 5rem 1rem;
    }
    .text-cards-block .text-card-wrapper {
        display: flex;
        justify-content: center;
    }
    .text-card-wrapper > div {
        height: 300px;
        margin-bottom: 0;
    }
    .text-card-wrapper > div:first-child {
        margin-right: 1rem;
    }
    .text-card-wrapper > div:last-child {
        margin-left: 1rem;
    }
}

.text-cards-block .stiff > div {
    border-radius: 0;
}

.text-cards-block .slightly-curve > div {
    border-radius: 1rem;
}

.text-cards-block .curve > div {
    border-radius: 3rem;
}

.text-cards-block .rounded > div {
    border-radius: 5rem;
}
{% endstyles %}

{% schema %}
{
    "name": "Text Cards",
    "description": "Side by Side Text Cards",
    "max_blocks": 2,
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "1",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color"
        },
        {
            "type": "select",
            "id": "heading_text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "color",
            "id": "filter_color",
            "label": "Background Filter Color"
        },
        {
            "type": "range",
            "id": "filter_opacity",
            "label": "Filter Opacity",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.5
        },
        {
            "type": "image_picker",
            "id": "background_photo",
            "label": "Background Photo"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Header Text Color"
        },
        {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
        },
        {
            "type": "select",
            "id": "header_size",
            "label": "Header Size",
            "default": "2",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "description_text",
            "label": "Description Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "URL"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "URL Text"
        },
        {
            "type": "text",
            "id": "header_text_2",
            "label": "Header Text 2"
        },
        {
            "type": "richtext",
            "id": "description_text_2",
            "label": "Description Text 2"
        },
        {
            "type": "url",
            "id": "btn_url_2",
            "label": "URL 2"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "URL Text 2"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "align-left"
        },
        {
            "type": "select",
            "id": "border_radius",
            "label": "Border Radius",
            "options": [
                {
                    "value": "stiff",
                    "label": "Stiff"
                },
                {
                    "value": "slightly-curve",
                    "label": "Slightly Curve"
                },
                {
                    "value": "curve",
                    "label": "Curve"
                },
                {
                    "value": "rounded",
                    "label": "Rounded"
                }
            ],
            "default": "stiff"
        }
    ]
}
{% endschema %}